@import "../../mixins";
@import "../../variables";

.error__page {
  @include display-flex-center;
  flex-direction: column;
  color: $formText;

  .error__title {
    font-size: 40px;
  }
  .error__text {
    margin-bottom: 50px;
    font-size: 20px;
  }
}